@using WebSecurity.Helpers
@model WebSecurity.Models.AgentViewModels.AgentViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="mdl-grid">
    
    <h3 style="margin: 10px">Liste des @Model.UsersRole</h3>

    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp">
        <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">Nom complet</th>
            <th class="mdl-data-table__cell--non-numeric">Sexe</th>
            <th class="mdl-data-table__cell--non-numeric">Role</th>
            <th class="mdl-data-table__cell--non-numeric">Adresse courriel</th>
            <th class="mdl-data-table__cell--non-numeric">Adresse résidentielle</th>
            <th class="mdl-data-table__cell--non-numeric">Date d'ouverture de compte</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td class="mdl-data-table__cell--non-numeric"><b>@user.FullName</b></td>
                <td class="mdl-data-table__cell--non-numeric">@user.Gender</td>
                <td class="mdl-data-table__cell--non-numeric">
                    @(user.Role.Equals(RolesConstants.BUSINESSCUSTOMER) ? "Client d'affaire" : "Client résidentiel")
                </td>
                <td class="mdl-data-table__cell--non-numeric">@user.Email</td>
                <td class="mdl-data-table__cell--non-numeric">@user.Street, @user.State</td>
                <td class="mdl-data-table__cell--non-numeric">@user.Registered</td>
            </tr>
        }
        </tbody>
    </table>



</div>